// <section>
//   <h4>Leave an image comment</h4>
//   <form method="POST" action="/places/<%= place.id %>/images/<%=image.id%>/comments">
//     <textarea name="content" id="content" placeholder="Comment"></textarea>
//     <button class="btn btn-primary">Leave a comment</button>
//   </form>
// </section>
//
// <p>
// <%= place %>
// </p>
// <p>
// <%= place.pictures %>
// </p>
// <p>
// <%= place.pictures.icomments %>
// </p>
