<section>
  <h4>Leave an image comment</h4>
  <form method="POST" action="/places/<%= place.id %>/images/<%=image.id%>/comments">
    <textarea name="content" id="content" placeholder="Comment"></textarea>
    <button class="btn btn-primary">Leave a comment</button>
  </form>
</section>

<p><%= place %></p>
<p><%= place.pictures %></p>
<p><%= place.pictures.icomments %></p>



<div id="map" data-place="<%= JSON.stringify(place) %>"></div>


enctype="multipart/form-data"

<div>
  <label for="image">Profile Picture</label>
  <input type="file" name="image" id="image">
</div>

<div>
  <label for="image">Cover Photo</label>
  <input type="file" name="image" id="image" value="<%= place.coverSRC %>">
</div>



<div class="feed">
  <% place.pictures.forEach((image) => { %>
    <a href="/users/<%= image.createdBy._id %>"<small><%=image.createdBy.username %></small></a>
    <img src="<%= image.picSRC %>" alt="<%= image.caption %>">
    <p><%= image.caption %></p>

    <% if(locals.isAuthenticated && image.ownedBy(user)) { %>
      <form method="POST" action="/places/<%=place.id%>/images/<%=image.id%>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-danger">Delete</button>
      </form>
      <section>
        <h4>Leave an image comment</h4>
        <form method="POST" action="/places/<%= place.id %>/images/<%=image.id%>/comments">
          <textarea name="content" id="content" placeholder="Comment"></textarea>
          <button class="btn btn-primary">Leave a comment</button>
        </form>
      </section>
    <% } %>

    <% image.icomments.forEach((icomment) => { %>
      <a href="/users/<%= image.createdBy._id %>"<small><%=icomment.createdBy.username %></small></a>
      <p><%= icomment.content %></p>
    <% }) %>

  <% }) %>


  <header>
    <nav class="container">
      <div class="row">
        <ul class="col">
          <li class="menu">&#9776;</li>
          <div class="dropdown">
            <li><a href="/">FishBook</a></li>
            <li><a href="/places">Locations</a></li>
            <% if(locals.isAuthenticated) { %>
              <li><a href="/users/<%=user.id%>">Profile</a></li>
              <li><a href="/places/new">Add New Location</a></li>
              <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/login">Log In</a></li>
              <li><a href="/register">Register</a></li>
            <% } %>
          </div>
        </ul>
      </div>
    </nav>
  </header>



  <% place.pictures.forEach((image) => { %>



          <img src="<%= image.picSRC %>" alt="<%= image.caption %>" class="showGalleryImage">


          <p><%= image.caption %></p>


          <% if(locals.isAuthenticated && image.ownedBy(user)) { %>
            <form method="POST" action="/places/<%=place.id%>/images/<%=image.id%>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-danger">Delete</button>
            </form>
          <% } %>

          <% if(locals.isAuthenticated) { %>
            <h7>Leave an image comment</h7>


            <form method="POST" action="/places/<%= place.id %>/images/<%=image.id%>/comments">
              <textarea name="content" id="content" placeholder="Comment"></textarea>


              <button class="btn btn-primary">Leave a comment</button>
            </form>
          <% } %>


          <% image.icomments.forEach((icomment) => { %>
            <a href="/users/<%= image.createdBy._id %>"><small><%=icomment.createdBy.username %></small></a>

            <p><%= icomment.content %></p>
            <% if(locals.isAuthenticated && icomment.writtenBy(user)) { %>
              <form method="POST" action="/places/<%= place.id %>/images/<%=image.id%>/comments/<%=icomment.id%>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">Delete</button>
              </form>
            <% } %>
          <% }) %>
    <% }) %>
  </div>
